.banner-area {

    @include respond-below(sm) {
        height: 60vh;
    }

    // banner video

    .banner-video {
        width: 100%;
        height: 99vh;
        object-fit: cover;
        position: absolute;
        left: 0;
        top: 0;

        @include respond-below(sm) {
            height: 60vh;
            object-fit: cover;
        }
    }

    // banner video

    // slider banner start
    .sliderSwiper {
        .autoplay-progress {
            position: absolute;
            right: 16px;
            bottom: 16px;
            z-index: 10;
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            color: $brand-color;

            @include respond-below(sm) {
                display: none;
            }
        }

        .autoplay-progress svg {
            --progress: 0;
            position: absolute;
            left: 0;
            top: 0px;
            z-index: 10;
            width: 100%;
            height: 100%;
            stroke-width: 4px;
            stroke: $brand-color;
            fill: none;
            stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
            stroke-dasharray: 125.6;
            transform: rotate(-90deg);

            @include respond-below(sm) {
                display: none;
            }
        }

        .swiper-wrapper {
            .swiper-slide {
                height: 100vh;
                position: relative;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                @include respond-below(sm) {
                    align-items: flex-start;
                }

                .slider-content {
                    position: absolute;
                    z-index: 999999;
                    margin: 0 200px;

                    @include respond-below(xl) {
                        margin: 0 100px;
                    }

                    @include respond-below(md) {
                        margin: 0 60px;
                    }

                    @include respond-below(sm) {
                        top: 30%;
                        width: 100%;
                        margin: 0 20px;
                    }

                    h1 {
                        font-size: 4.55rem !important;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        font-weight: 700;

                        @include respond-below(sm) {
                            font-size: 30px !important;
                        }
                    }
                }
            }
        }

        .swiper-pagination {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            bottom: 180px;
            left: 200px;

            @include respond-below(xl) {
                left: 100px;
            }

            @include respond-below(lg) {
                bottom: 120px;
            }

            @include respond-below(md) {
                left: 50px;
            }

            @include respond-below(sm) {
                left: 20px;
                top: 20%;
            }

            .swiper-pagination-bullet {
                width: 12px;
                height: 12px;
                background: #fff;
                opacity: .8;
                position: relative;

                &.swiper-pagination-bullet-active {
                    background: $brand-color;
                    width: 20px;
                    height: 20px;
                }

                &:last-child {
                    &::after {
                        content: '';
                        position: absolute;
                        top: 6px;
                        left: 25px;
                        width: 140px;
                        height: 2px;
                        background-color: #fff;
                        opacity: 1;
                        border-radius: 6px;
                    }
                }


            }
        }
    }



    // slider banner end

    // Social media start
    .social-media {
        position: absolute;
        bottom: 50px;
        right: 140px;
        z-index: 999;

        @include respond-below(sm) {
            display: none;
        }

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            li {
                list-style: none;

                a {
                    color: $white;

                    &:hover {
                        color: $brand-color;
                    }

                    i {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    // Social media end  
}

@media only screen and (min-width : 1200px) and (max-width : 1279px) {
    .banner-area .sliderSwiper .swiper-pagination {
        bottom: 160px;
        left: 100px;
    }
}